{{- if eq (include "universal-app.isDeployment" .) "true" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "universal-app.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "universal-app.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "universal-app.selectorLabels" . | nindent 6 }}
  template:
    {{- include "universal-app.podTemplate" . | nindent 4 }}
{{- end }}
